<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/c14cf263-2eef-418a-9342-8de3b674c590/resourcegroups/TatunBlazorApp20240703194649ResourceGroup/providers/Microsoft.Web/sites/TatunBlazorApp20240703195143</ResourceId>
    <ResourceGroup>TatunBlazorApp20240703194649ResourceGroup</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://tatunblazorapp20240703195143.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>5d0b3895-e4b1-4109-a830-be4b149e859e</ProjectGuid>
    <PublishUrl>https://tatunblazorapp20240703195143.scm.azurewebsites.net/</PublishUrl>
    <UserName>$TatunBlazorApp20240703195143</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>